<form class="skills-form">
    <div>
        <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select #employeeInput>
                <mat-option *ngFor=" let employee of employees" [value]="employee"
                    (click)="assignEmployeeSkills(employeeInput.value)">
                    {{employee.firstName}} {{employee.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Skill</mat-label>
            <mat-select #userSkillInput>
                <mat-option *ngFor="let skill of employeeSkills" [value]="skill">
                    {{skill}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Hours Per Day</mat-label>
            <input matInput #hoursPerDayInput>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" class="add-employee-btn"
                (click)='addEmployeeToNewProject(employeeInput.value, userSkillInput.value, hoursPerDayInput.value)'
                (click)="employeeInput.value = ''" (click)="userSkillInput.value = ''"
                (click)="hoursPerDayInput.value = ''">Add
                Employee</button>
        </div>
    </div>
</form>