.dashboard-container {
    width: 80%;
    margin: auto auto;
}

.dashboard-card {
    margin: 5%;
    background-color: rgba(211, 211, 211, 0.39);
}

.logged-user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    cursor: pointer;
}

// Table
table {
    width: 100%
}

.table-title {
    margin-left: 5%;
    margin-bottom: 10px;
}

.header {
    background-color: #cac9c9;
    color: black;
    font-size: 15px;
    text-align: center;
}

.content {
    text-align: center;
}

.project-name {
    cursor: pointer;
    text-align: center;
}

.employee-name {
    cursor: pointer;
    text-align: center;
}

.empty-message {
    text-align: center;
    font-size: larger;
    margin: 10px;
}