<div class="dashboard-container">

    <mat-card *ngIf="this.loggedUser" class="dashboard-card">
        <mat-card-header class="logged-user-info">
            <div mat-card-avatar></div>
            <mat-card-title [routerLink]="['/users', this.loggedUser.userId]" class="name">
                {{this.loggedUser.firstName}} {{this.loggedUser.lastName}}
            </mat-card-title>
            <mat-card-subtitle>
                Position: {{this.loggedUser.position}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="logged-user-info">
            <span *ngIf="this.loggedUser.manager" [routerLink]="['/users', this.loggedUser.manager.userId]" class="name">
                    Manager: {{this.loggedUser.manager.firstName}} {{this.loggedUser.manager.lastName}}
                </span>
            <span *ngIf="!this.loggedUser.manager">
                    Self-managed
                </span>
        </mat-card-content>
    </mat-card>

    <h2 class="table-title">Today’s Managed Projects</h2>

    <table mat-table [dataSource]="this.managerProjects">

        <ng-container matColumnDef="project-name">
            <th mat-header-cell *matHeaderCellDef class="header"> Project Name </th>
            <td mat-cell *matCellDef="let project" class="project-name" [routerLink]="['/projects', project.projectId]">
                {{project.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="header"> Status </th>
            <td mat-cell *matCellDef="let project" class="content"> {{project.status}} </td>
        </ng-container>

        <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef class="header"> Hours/day </th>
            <td mat-cell *matCellDef="let project" class="content"> {{project.userSkillsInProject[0].hoursPerDay}} hours </td>
        </ng-container>

        <!-- TODO add if project will be finished on time -->

        <tr mat-header-row *matHeaderRowDef="['project-name', 'status', 'hours']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['project-name', 'status', 'hours'];"></tr>

    </table>

    <div *ngIf="this.managerProjects && this.managerProjects.length===0" class="empty-message">
        No Projects found
    </div>

    <br>
    <br>
    <br>

    <h2 class="table-title">Direct Subordinates</h2>

    <table mat-table [dataSource]="this.managerEmployees">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="header"> Name </th>
            <td mat-cell *matCellDef="let employee" [routerLink]="['/users', this.employee.userId]" class="employee-name">
                {{employee.firstName}} {{employee.lastName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="header"> Email </th>
            <td mat-cell *matCellDef="let employee" class="content"> {{employee.email}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="header"> Position </th>
            <td mat-cell *matCellDef="let employee" class="content"> {{employee.position}} </td>
        </ng-container>

        <ng-container matColumnDef="availableTime">
            <th mat-header-cell *matHeaderCellDef class="header"> Available Time </th>
            <td mat-cell *matCellDef="let employee" class="content"> {{employee.availableTime}} hours</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'email', 'position', 'availableTime']" [ngClass]="{'color': true}"></tr>
        <tr mat-row [class.color]="true" *matRowDef="let row; columns: ['name', 'email', 'position', 'availableTime'];"></tr>

    </table>

    <div *ngIf="this.managerEmployees && this.managerEmployees.length === 0" class="empty-message">
        No Direct Subordinates found
    </div>

</div>