.ind-project-container {
  width: 80%;
  margin: auto auto;
  height: 400px;
  margin-top: 30px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.description-card {
  background-color: rgba(211, 211, 211, 0.39);
}

.project-target-card {
  background-color: rgba(211, 211, 211, 0.39);
}

.skills-and-employees {
  background-color: rgba(211, 211, 211, 0.39);
  height: 100%;
}

.skills-employees {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.creation-date {
  display: inline;
}

.title {
  text-align: center;
}

.edit-btn {
  float: right;
}

.stop-btn {
  color: white;
}

.on-target {
  float: right;
}

.project-target {
  justify-content: space-evenly;
}

.target-info-container {
  margin-top: 33px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: '. completion .';
  color: white;
}

.target-completion {
  grid-area: completion;
  justify-self: center
}

.target-status {
  grid-area: status;
  justify-self: center
}

.hours-left {
  color: #1e2f8f;
}

.reporter {
  cursor: pointer;
}

.emlpoyee-name {
  cursor: pointer;
}

.project-description {
  width: 60%;
}

.description-card-content {
  margin: 30px
}
