<div *ngIf="project" class="ind-project-container">
    <mat-card class="description-card">
        <div class="card-header">
            <span class="reporter" [routerLink]="['/users', project.manager.userId]">
                Reporter: {{project.manager.firstName}} {{project.manager.lastName}}
            </span>
            <h1 class="project-name">
                {{project.name}}
            </h1>

            <span class="creation-date">
                Created on: {{project.startDate}}
            </span>
        </div>
        <mat-card-content class="description-card-content">
            <h3 class="project-description">
                <strong>Description</strong>: {{project.description}}
            </h3>
        </mat-card-content>
        <mat-card-actions class="action-btns">
            <button mat-raised-button class="stop-btn" color="warn" (click)='onStopProjectClick()'
                [disabled]='disableBtns()'>Stop</button>
            <button mat-raised-button color="primary" class="edit-btn" [disabled]='disableBtns()'
                (click)='onEditProject()'>Edit</button>
        </mat-card-actions>
    </mat-card>


    <div class="skills-employees">
        <mat-card class="skills-and-employees">
            <mat-card-header>
                <h2 class="title">SkIlls</h2>
            </mat-card-header>
            <hr>
            <mat-card-content *ngFor="let skill of project.totalSkills">
                <strong>{{skill.skill}}</strong>: {{skill.totalHours}} hours (<span
                    class="hours-left">{{skill.hoursLeft}}</span> hours left)
            </mat-card-content>
        </mat-card>

        <mat-card class="skills-and-employees">
            <mat-card-header>
                <h2 class="title">Employees</h2>
            </mat-card-header>
            <hr>
            <mat-card-content *ngFor="let employee of project.employees">
                <span [routerLink]="['/users', employee.userId]" class="emlpoyee-name">
                    <strong>{{employee.firstName}} {{employee.lastName}}</strong>
                </span>
                <ul>
                    <li *ngFor="let skill of employee.skillsHoursPerDay">
                        {{skill.skill}} : {{skill.hoursPerDay}} hours per day
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="target-info-container" [ngStyle]="colorIsOnTarget()">
        <div class="target-completion">
            <span>
                This project will be completed: {{businessDaysToCompleteProject}}
            </span>
        </div>
    </mat-card>
</div>