<div class="home-page">
    <mat-card>

        <mat-card-header class="title">
            <mat-card-title>Welcome</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="this.loginForm" (ngSubmit)="this.login()" (keypress)="this.loginWithEnter($event)">

                <div>
                    <mat-form-field class="field">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" required formControlName="email">

                        <mat-error *ngIf="this.loginForm.controls.email.errors?.required">
                            Email is required!
                        </mat-error>
                        <mat-error *ngIf="this.loginForm.controls.email.errors?.email">
                            This must be an email!
                        </mat-error>

                    </mat-form-field>
                </div>

                <mat-form-field class="field">
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" name="password" required
                        formControlName="password">

                    <mat-icon matSuffix (click)="hide = !hide" class="visibility-icon">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                    <mat-error *ngIf="this.loginForm.controls.password.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.password.errors?.pattern">
                        Passwords must have minimum five characters, at least one letter and one number!
                    </mat-error>
                </mat-form-field>

                <br>

                <button mat-raised-button color="primary" type="submit" [disabled]="this.loginForm.invalid"
                    class="login-button">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>