.home-page {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    width: 50%;
}

.login-button {
    width: 50%;
}

.visibility-icon {
    cursor: pointer;
}