<div class="employees-container">

    <button mat-raised-button color="primary" *ngIf="this.isLoggedUserAdmin" color="primary" (click)="openAddNewEmployeeDialog()" class="button-add">
        Add New Employee
    </button>

    <div class="direct-subordinates">
        Direct Subordinates
        <mat-slide-toggle color="primary" class="toggle" [(ngModel)]="this.checked" (ngModelChange)="this.filterDirectSubordinatesEvent($event)">
        </mat-slide-toggle>
    </div>

    <table mat-table [dataSource]="this.usersToShow" matSort>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Name
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('firstName || lastName', $event.target.value)" [(ngModel)]="this.filterName">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let employee" [routerLink]="['/users', this.employee.userId]" class="employee-name">
                {{employee.firstName}} {{employee.lastName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Email
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('email', $event.target.value)" [(ngModel)]="this.filterEmail">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let employee" class="content"> {{employee.email}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Position
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('position', $event.target.value)" [(ngModel)]="this.filterPosition">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let employee" class="content"> {{employee.position}} </td>
        </ng-container>

        <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Manager
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByManager($event.target.value, this.managerDefaultValue)" [(ngModel)]="this.filterManager">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let employee" class="content">
                <span *ngIf="employee.manager" [routerLink]="['/users', this.employee.manager.userId]" class="employee-name">
                    {{employee.manager.firstName}} {{employee.manager.lastName}}
                </span>
                <span *ngIf="!employee.manager">
                    {{this.managerDefaultValue}}
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['firstName', 'email', 'position', 'manager']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['firstName', 'email', 'position', 'manager'];"></tr>

    </table>

    <div *ngIf="this.usersToShow && this.usersToShow.data.length === 0" class="empty-message">
        No users found!
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

</div>