<div>

    <form [formGroup]="this.usersForm" (ngSubmit)="this.onSubmit(this.usersForm.value)">

        <div class="form">

            <div class="personal-info">

                <div>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput name="firstName" required formControlName="firstName">

                        <mat-error *ngIf="this.usersForm.controls.firstName.errors?.required">
                            First Name is required!
                        </mat-error>
                        <mat-error *ngIf="this.usersForm.controls.firstName.errors?.minlength">
                            First Name must be at least 3 symbols long!
                        </mat-error>
                        <mat-error *ngIf="this.usersForm.controls.firstName.errors?.maxlength">
                            First Name must not be more than 128 symbols!
                        </mat-error>

                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastName" required formControlName="lastName">

                        <mat-error *ngIf="this.usersForm.controls.lastName.errors?.required">
                            Last Name is required!
                        </mat-error>
                        <mat-error *ngIf="this.usersForm.controls.lastName.errors?.minlength">
                            Last Name must be at least 3 symbols long!
                        </mat-error>
                        <mat-error *ngIf="this.usersForm.controls.lastName.errors?.maxlength">
                            Last Name must not be more than 128 symbols!
                        </mat-error>

                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" required formControlName="email">

                        <mat-error *ngIf="this.usersForm.controls.email.errors?.required">
                            Email is required!
                        </mat-error>
                        <mat-error *ngIf="this.usersForm.controls.email.errors?.email">
                            This is not an email!
                        </mat-error>

                    </mat-form-field>
                </div>

            </div>

            <hr>

            <div class="working-info">

                <div>
                    <mat-form-field>
                        <mat-label>Position</mat-label>
                        <input matInput name="position" required formControlName="position">

                        <mat-error *ngIf="this.usersForm.controls.position.errors?.required">
                            Position is required!
                        </mat-error>

                    </mat-form-field>
                </div>

                <div>
                    <mat-checkbox color="primary" name="isManager" formControlName="isManager"
                        (change)="this.onIsManagerChanged()">
                        Manager
                    </mat-checkbox>
                </div>
                <div *ngIf="this.usersForm.controls.isManager.value">
                    <mat-checkbox color="primary" name="isAdmin" formControlName="isAdmin">
                        Admin
                    </mat-checkbox>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Managed by</mat-label>
                        <mat-select name="manager" required formControlName="manager">
                            <mat-option *ngIf="this.usersForm.controls.isManager.value" [value]="'Self-managed'">
                                Self-managed
                            </mat-option>

                            <mat-option *ngFor="let manager of allManagers" [value]="manager"
                                [disabled]="this.disableUserAsManagerIfHeIsOne(manager)">
                                {{manager.firstName}} {{manager.lastName}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="this.usersForm.controls.manager.errors?.required">
                            Manager is required!
                        </mat-error>

                    </mat-form-field>
                </div>
            </div>

        </div>

        <hr class="horizontal-line">

        <div>
            <mat-form-field style="width: 100%">
                <mat-label>Skills</mat-label>
                <mat-select multiple name="userSkills" formControlName="userSkills">
                    <mat-option *ngFor="let skill of this.allSkills" [value]="skill"
                        [disabled]="this.disableSkillsIfUserHaveThem(skill)">
                        {{skill}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-dialog-actions>
            <button *ngIf="!this.user" mat-icon-button [color]="'primary'" type="submit"
                [disabled]="this.usersForm.invalid" mat-dialog-close>Create</button>
            <button *ngIf="this.user" mat-icon-button [color]="'primary'" type="submit"
                [disabled]="this.usersForm.invalid" mat-dialog-close>Update</button>
            <button mat-button type="button" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>

</div>