<form class="skills-form">
    <div>
        <mat-form-field>
            <mat-label>Skill</mat-label>
            <mat-select #projectSkillInput>
                <mat-option *ngFor="let skill of skills" [value]="skill" [disabled]="ifSkillAdded(skill)">
                    {{skill}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Total Hours</mat-label>
            <input matInput #totalHoursInput>
        </mat-form-field>
        <div class="skill-btns">
            <button mat-raised-button color="primary"
                (click)="emitSkills(projectSkillInput.value, totalHoursInput.value)"
                (click)="projectSkillInput.value = ''" (click)="totalHoursInput.value = ''">Add
                Skill</button>
            <button mat-raised-button matStepperNext class="skill-next">Next</button>
        </div>
    </div>
</form>