<form class="project-info-form">
    <div>
        <mat-form-field>
            <mat-label>Project Name</mat-label>
            <input matInput #projectNameInput [value]='newProjectInfo.name'>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="description-form">
            <mat-label>Project Description</mat-label>
            <textarea matInput rows="5" cols='50' class="new-project-description" #projectDescriptionInput
                [value]='newProjectInfo.description'></textarea>

        </mat-form-field>

    </div>
    <div>
        <mat-form-field>
            <mat-label>Target Business Days</mat-label>
            <input matInput #targetDaysInput>

        </mat-form-field>
    </div>
    <button mat-raised-button matStepperNext color="primary" class="description-btn"
        (click)="addInfo(projectNameInput.value, projectDescriptionInput.value, targetDaysInput.value)">{{addInfoBtnValue}}</button>
</form>