<div>

    <form [formGroup]="this.skillsForm" (ngSubmit)="this.createSkill(this.skillsForm.value)">

        <div class="skill-field">
            <mat-form-field>
                <mat-label>Skill</mat-label>
                <input matInput name="skill" required formControlName="skill">

                <mat-error *ngIf="this.skillsForm.controls.skill.errors?.required">
                    Skill is required!
                </mat-error>
                <mat-error *ngIf="this.skillsForm.controls.skill.errors?.minlength">
                    Skill must be at least 3 symbols long!
                </mat-error>
                <mat-error *ngIf="this.skillsForm.controls.skill.errors?.maxlength">
                    Skill must not be more than 48 symbols!
                </mat-error>

            </mat-form-field>

            <div class="buttons">
                <mat-dialog-actions>
                    <button mat-icon-button [color]="'primary'" type="submit" [disabled]="this.skillsForm.invalid" mat-dialog-close>Create</button>
                    <button mat-button type="button" mat-dialog-close>Cancel</button>
                </mat-dialog-actions>
            </div>

        </div>

    </form>

</div>