<mat-toolbar class="nav-container">

  <img src="../../../assets/logo.png">

  <div class="nav-buttons">

    <button mat-button class="home-button" [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span class="navigation">
        Dashboard
      </span>
    </button>

    <button mat-button [routerLink]="['/projects']">
      <mat-icon>subject</mat-icon>
      <span class="navigation">
        Projects
      </span>
    </button>

    <button mat-button [routerLink]="['/users']">
      <mat-icon>person_pin</mat-icon>
      <span class="navigation">
        Employees
      </span>
    </button>

    <button mat-button *ngIf="this.isLoggedUserAdmin" [routerLink]="['/skills']">
      <mat-icon>extension</mat-icon>
      <span class="navigation">
        Skills
      </span>
    </button>

  </div>

  <div class="username">
    <button mat-button [matMenuTriggerFor]="menu">
      <span class="navigation">
        {{this.loggedUser.firstName}}
        {{this.loggedUser.lastName}}
      </span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/users', this.loggedUser.userId]">
        Profile
      </button>
      <button mat-menu-item (click)="this.logout()">
        LogOut
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>