.nav-container {
  color: white;
  background-color: #5d6cc0;
  width: 100%;
}

img {
  width: 12%;
  height: 50%;
}

.username {
  margin-left: auto;
}

.navigation {
  font-size: larger;
}

.nav-buttons {
  margin: auto auto;
}
