<div class="project-info-container">
    <div class="create-project-container">
        <div class="info-stepper">
            <mat-vertical-stepper #stepper>
                <mat-step>
                    <app-new-project-description (projectInfo)="onProjectInfo($event)"
                        [newProjectInfo]="newProjectInfo"></app-new-project-description>
                </mat-step>
                <mat-step>
                    <app-new-project-skills *ngIf="skills" [skills]="skills" [newProjectInfo]="newProjectInfo"
                        (projectSkills)="OnAddSkillToNewProject($event)">
                    </app-new-project-skills>
                </mat-step>
                <mat-step>
                    <app-new-project-employees [employees]="employees" [employeeSkills]="employeeSkills"
                        [newProjectInfo]="newProjectInfo" (addEmployee)="onAddEmployee($event)">
                    </app-new-project-employees>
                </mat-step>
            </mat-vertical-stepper>
        </div>

        <div class="project-summary">
            <mat-card class="summary-card">
                <mat-card-title>
                    <div>
                        <h3>Name: {{newProjectInfo.name}} </h3>
                    </div>
                </mat-card-title>
                <div>
                    <h3>Target Business Days: {{newProjectInfo.fulfilmentTarget}} </h3>
                </div>
                <mat-card-subtitle>
                    <div>
                        <h3>Description: {{newProjectInfo.description}} </h3>
                    </div>
                    <hr>
                </mat-card-subtitle>
                <mat-card-content>
                    <div class="skills-employees">

                        <div class="added-skills">
                            <h3 class="skills-label">Skills</h3>
                            <mat-card *ngFor="let skill of newProjectInfo.totalSkills " class="skills-card">
                                <div class="skill-and-hour">
                                    <span>{{skill.skill}} - {{skill.hoursLeft}} hours</span>
                                </div>
                                <div class="clear-card-skill">
                                    <mat-icon (click)="removeSkillFromProject(skill)">clear
                                    </mat-icon>
                                </div>
                            </mat-card>
                        </div>

                        <div class="added-employees">
                            <h3 class="employees-label">Employees</h3>
                            <div *ngFor="let employee of newProjectInfo.employees">
                                <mat-card *ngFor="let skillAndHours of employee.skillsHoursPerDay"
                                    class="employees-card">
                                    <div class="employee-and-hour">
                                        <span>
                                            {{employee.firstName}} {{employee.lastName}} :
                                            {{skillAndHours.skill}} -
                                            {{skillAndHours.hoursPerDay}} hours per day
                                        </span>
                                    </div>
                                    <div class="clear-card-employee">
                                        <mat-icon
                                            (click)="removeEmployeeSkillFromProject(employee, skillAndHours.skill)">
                                            clear
                                        </mat-icon>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="create-project-btn-container">

        <div>
            <button mat-raised-button class="cancel-project" [mat-dialog-close]="">Cancel</button>
        </div>

        <div *ngIf="showProjectCompletion">
            <mat-card class="project-finish-card" [ngStyle]="colorOfCompletionDays()">
                <span>Project will be completed: {{daysToCompleteProject}}</span>
            </mat-card>
        </div>

        <div>
            <button [disabled]='toggleDisableCreateProjectBtn()' mat-raised-button color="primary"
                class="create-project-btn" (click)="createProject()"
                [mat-dialog-close]="newProjectInfo">{{projectBtnValue}}
                Project</button>
        </div>
    </div>
</div>