.create-project-container {
  display: grid;
  grid-template-columns: 45% 5% 50%;
  grid-template-areas: "stepper . summary";
}

.added-skills {
  grid-area: skill;
  // justify-self: center
}

.added-employees {
  grid-area: employees;
  // justify-self: center
}

.project-summary {
  grid-area: summary;
  height: 100%;
}

.summary-card {
  height: 93.5%;
  background-color: rgba(211, 211, 211, 0.39);
}

.skills-employees {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
  grid-template-areas: "skill . employees"
}

.info-stepper {
  grid-area: stepper;

}

mat-vertical-stepper {
  background-color: rgba(211, 211, 211, 0.39);
}

.skills-label {
  text-align: center;
}

.employees-label {
  text-align: center;
}

.create-project-btn-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.create-project-btn {
  float: right;
}

.cancel-project {
  float: left;
}

.project-finish-card {
  color: white;
  // width: 70%;
}

.skill-and-hour {
  grid-area: skillHour;
}

.skills-card {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-areas: 'skillHour . clearCard';
  background-color: rgba(188, 200, 224, 0.39);
}

.employees-card {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-areas: 'skillHour . clearCard';
  background-color: rgba(188, 200, 224, 0.39);
}

.employee-and-hour {
  grid-area: skillHour;
}

.clear-card-skill {
  cursor: pointer;
  grid-area: clearCard;
  color: #f44336
}

.clear-card-employee {
  cursor: pointer;
  grid-area: clearCard;
  color: #f44336
}
