.user-profile-container {
    width: 80%;
    margin: auto auto;
}

.user-profile-card {
    margin: 5%;
    background-color: rgba(211, 211, 211, 0.39);
}

.user-profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-edit {}

.user-manager {
    cursor: pointer;
}

.info {
    display: grid;
    grid-template-columns: 78% 4% 18%;
}

// Table
table {
    width: 100%
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-title {
    margin: 20px 0 20px 20px;
}

.header {
    background-color: #cac9c9;
    color: black;
    font-size: 15px;
    text-align: center;
}

.content {
    text-align: center;
}

.project-name {
    cursor: pointer;
    text-align: center;
}

.expansion-panel {
    background: inherit;
    box-shadow: none;
}

.empty-message {
    text-align: center;
    font-size: larger;
    margin: 10px;
}

// Skills
.skills-section {
    text-align: center;
    margin: 20px 20px 20px 0;
}

.skill-card {
    width: 70%;
    margin: 20px;
    background-color: rgba(211, 211, 211, 0.39);
}

.skill {
    text-align: center;
}