<div class="user-profile-container">

    <div *ngIf="this.user">

        <mat-card class="user-profile-card">
            <mat-card-header class="user-profile-info">
                <mat-card-title>
                    {{this.user.firstName}} {{this.user.lastName}}
                </mat-card-title>

                <button mat-raised-button *ngIf="this.isLoggedUserAdmin" color="primary" (click)="this.openUpdateEmployeeDialog()" class="button-edit">
            <mat-icon>edit</mat-icon>
            Edit
          </button>

                <mat-card-subtitle>
                    Position: {{this.user.position}}
                </mat-card-subtitle>

            </mat-card-header>

            <mat-card-content class="user-profile-info">
                <span *ngIf="this.user.manager" [routerLink]="['/users', this.user.manager.userId]" class="user-manager">
                        Manager: {{this.user.manager.firstName}} {{this.user.manager.lastName}}
                    </span>
                <span *ngIf="!this.user.manager">
                        Self-managed
                    </span>
            </mat-card-content>

        </mat-card>
    </div>

    <div class="info">

        <div>

            <h2 class="table-title">Today’s Work</h2>

            <table mat-table [dataSource]="this.user && this.user.projects">

                <ng-container matColumnDef="project-name">
                    <th mat-header-cell *matHeaderCellDef class="header"> Project Name </th>
                    <td mat-cell *matCellDef="let project" class="project-name" [routerLink]="['/projects', project.projectId]">
                        {{project.name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="header"> Status </th>
                    <td mat-cell *matCellDef="let project" class="content"> {{project.status}} </td>
                </ng-container>

                <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef class="header"> Skills </th>
                    <td mat-cell *matCellDef="let project" class="content">

                        <mat-expansion-panel class="expansion-panel">
                            <mat-expansion-panel-header>
                            </mat-expansion-panel-header>

                            <div>

                                <table mat-table [dataSource]="project.userSkillsInProject">

                                    <ng-container matColumnDef="skill">
                                        <th mat-header-cell *matHeaderCellDef class="header"> Skill </th>
                                        <td mat-cell *matCellDef="let skill" class="content">
                                            {{skill.skill}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hours">
                                        <th mat-header-cell *matHeaderCellDef class="header"> Hours per day </th>
                                        <td mat-cell *matCellDef="let hours" class="content">
                                            {{hours.hoursPerDay}} hours
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="['skill', 'hours']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['skill', 'hours'];"></tr>

                                </table>

                            </div>

                        </mat-expansion-panel>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['project-name', 'status', 'skills']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['project-name', 'status', 'skills'];"></tr>

            </table>

            <div *ngIf="this.user && (!this.user.projects || (this.user.projects && this.user.projects.length === 0))" class="empty-message">
                No projects to work on!
            </div>

        </div>

        <hr>

        <div>

            <h2 class="skills-section">Skills</h2>

            <div *ngIf="this.user && this.user.userSkills">

                <div *ngFor="let skill of this.user.userSkills">
                    <mat-card class="skill-card">
                        <div class="skill">
                            {{skill}}
                        </div>
                    </mat-card>
                </div>

            </div>

            <div *ngIf="this.user && (!this.user.userSkills || (this.user.userSkills && this.user.userSkills.length === 0))" class="empty-message">
                Still no skills to show!
            </div>

        </div>

    </div>

</div>