<div class="confirmation-text">
    <h2>
        Are you sure you want to stop the project?
    </h2>
</div>

<div class="confirmation-btns">
    <button mat-raised-button color="warn" class="cancel" (click)="denied()"
        [matDialogClose]="confirmation">Cancel</button>

    <button mat-raised-button color="primary" class="confirm" (click)='confirmed()'
        [mat-dialog-close]="this.confirmation">Ok</button>
</div>