body {
    display: inline-block;
    height: 100vh;
    margin: 0;
    color: white;
}

h1 {
    margin: .8em 3rem;
    font: 4em Roboto;
}

p {
    display: inline-block;
    margin: .2em 3rem;
    font: 2em Roboto;
}