<div class="skills-container">

    <div>
        <button mat-fab color="primary" (click)="this.openAddNewSkillDialog()" class="button-add">
            <mat-icon>add</mat-icon>
          </button>
    </div>


    <mat-grid-list cols="6">

        <mat-grid-tile *ngFor="let skill of this.skillsNames" class="grid-tile">

            <mat-card class="skill-card">
                <div class="skill">
                    {{skill}}
                </div>
            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>

</div>