.skills-container {
    width: 80%;
    margin: auto auto;
}

.button-add {
    float: right;
    color: white;
    z-index: 10;
    margin: 1%;
}

.grid-tile {
    margin: 0;
}

.skill-card {
    width: 70%;
    margin: 20px;
    background-color: rgba(211, 211, 211, 0.39);
}

.skill {
    text-align: center;
}