.all-projects-container {
  width: 80%;
  margin: auto auto;
}

.button-container {
  float: right;
  margin: 20px 20px 20px 0;
}

.button {
  // background-color: #4285F4;
  color: white;
}

.my-projects {
  margin: 20px 0 20px 20px;
  font-size: 20px;
}

.toggle {
  margin: 10px;
}

// Table
table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th.mat-sort-header-sorted {
  color: black;
}

.header {
  background-color: #cac9c9;
  color: black;
  font-size: 15px;
  text-align: center;
}

.header-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  cursor: pointer;
}

.description {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.empty-message {
  text-align: center;
  font-size: larger;
  margin: 10px;
}
