<div class="all-projects-container">

    <div class="button-container">
        <button mat-raised-button class="button" color="primary" (click)="onCreateNewProjectClick()">Create New
      Project</button>
    </div>

    <div class="my-projects">
        My Projects
        <mat-slide-toggle class="toggle" color="primary" [(ngModel)]="this.isMyProjectsChecked" (ngModelChange)="this.filterMyProjectsEvent($event)">
        </mat-slide-toggle>
    </div>

    <table mat-table [dataSource]="this.projectsToShow" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Name
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('name', $event.target.value)" [(ngModel)]="this.filterName">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let project" class="content" [routerLink]="['/projects', project.projectId]">
                {{project.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Description
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('description', $event.target.value)" [(ngModel)]="this.filterDescription">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let project" class="description"> {{project.description}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Status
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByField('status', $event.target.value)" [(ngModel)]="this.filterStatus">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let project" class="content"> {{project.status}} </td>
        </ng-container>

        <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef class="header">
                <div mat-sort-header class="header-child">
                    Manager
                </div>
                <div class="filter">
                    <input (keyup)="this.filterByManager($event.target.value)" [(ngModel)]="this.filterManager">
                    <i class="fa fa-filter" style="font-size:24px"></i>
                </div>
            </th>
            <td mat-cell *matCellDef="let project" class="content">
                <span *ngIf="this.project.manager" [routerLink]="['/users', project.manager.userId]">
          {{project.manager.firstName}} {{project.manager.lastName}}
        </span>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'description', 'status', 'manager']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'status', 'manager'];"></tr>

    </table>

    <div *ngIf="this.projectsToShow && this.projectsToShow.data.length === 0" class="empty-message">
        No projects found!
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>